.cardVisual {
    height: 300px;
    width: 200px;
    border: 3px dotted #514fdd;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.count {
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0.6;
  }

.playersDeck {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
}