.playersContainer {
  width: 30%;
  height: 300px;
}

.playersHand {
  height: 75%;
}

.playersStats {
  height: 25%;
}

.playersStats, .playersHand {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  width: 100%;
}