* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.AppHeader {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

.deckContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameBoard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cpuSide {
  height: 400px;
  width: 100%;
  padding-top: 50px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.playButton {
  padding: 30px;
  border-radius: 20px;
  border: none;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #4de76e;
  font-size: 1.2em;
  color: #fcfcfc;
  cursor: pointer;
}

.playersSide {
  height: 400px;
  width: 100%;
  padding: 0 15%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.playersDeck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playersContainer {
  width: 30%;
  height: 300px;
}

.playersDiscardPile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playersHand, .playerStats {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cpusHand, .cpusHealthPoints {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.playerStats {
  height: 25%;
  flex-direction: column;
  align-items: center;
}

.playersHand {
  height: 75%;
}

.cpusHealthPoints {
  height: 25%;
}

.cpusHand {
  height: 75%;
}

.playersDeck,
.playersDiscardPile {
  height: 300px;
  width: 300px;
}

.cardVisual {
  height: 300px;
  width: 200px;
  border: 3px dotted #514fdd;
}